# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# Environment specific
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific
.vscode/
.idea/

# Build artifacts
build/
dist/

# OS specific
.DS_Store
Thumbs.db
